<br><br><br><br><br><br><br><br>
<div class="landing-text">
    <div class="">
        <h1>Descubrí el futuro</h1>
        <h1>de la economía</h1>
        <h1>digital.</h1><br>
        <p>Comprá y vendé criptomonedas de la manera más simple</p>
    </div>
    <div class="landing-img">
        <img src="https://images.vexels.com/media/users/3/259741/isolated/preview/9e9c428e9a2807d221780a1b94618e03-bitcoin-y-billetera.png" alt="inversor-icon">
    </div>
</div><br><br>

<div class="landing-btn">
    <a routerLink="/register"><input id="btn-inicio" type="button" value="Comenzar"></a>
</div>



