<!-- cambio pendiente -->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="logo-bit navbar-brand" href="#">
        <img src="https://www.freepnglogos.com/uploads/bitcoin-png/bitcoin-prussiaart-vadim-deviantart-16.png"class="logo d-inline-block align-text-top">
        BitNet
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li><a routerLink="landing">Home</a></li>
        <li><a routerLink="login">Iniciar sesión</a></li>
        <li><a routerLink="register">Registro</a></li>
        <li><a routerLink="#">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>