
<!-- cambio pendiente -->


<div class="container-nav">
  <div class="navbar">
      <div class="logo-bit">
        <img src="https://www.freepnglogos.com/uploads/bitcoin-png/bitcoin-prussiaart-vadim-deviantart-16.png" class="logo" alt="Main Logo">
        <p class="logo-text">BitNet</p>
      </div>

  <ul>
      <li><a routerLink="landing">Home</a></li>
      <li><a routerLink="login">Iniciar sesión</a></li>
      <li><a routerLink="register">Registro</a></li>
      <li><a routerLink="#">Contacto</a></li>
  </ul>

  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>