
<div class="container-nav">
  <div class="navbar">
      <div class="logo-bit">
        <img routerLink="/landing" src="https://www.freepnglogos.com/uploads/bitcoin-png/bitcoin-prussiaart-vadim-deviantart-16.png" class="logo" alt="Main Logo">
        <a routerLink="/landing"><p class="logo-text">BitNet</p></a>
      </div>

  <ul>
      <li><a routerLink="landing">Home</a></li>
      <li><a routerLink="login">Iniciar sesión</a></li>
      <li><a routerLink="register">Registro</a></li>
      <li><a routerLink="#">Contacto</a></li>
  </ul>

  </div>
</div>