<section class="form-register">
  <h4>Iniciar sesión</h4>

  <form [formGroup]="form">

    <div class="row mt-2">

      <div class="col-sm-12 col-md-12 col-lg-12 p-3">

        <label for="username" class="form-label">Ingrese su nombre de usuario</label>
        <input class="controls form-control" formControlName="username" type="text" name="username" id="username">

        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert">

          <div *ngIf="username?.errors?.['required']" style="color: rgb(255, 101, 0);">
            El username es requerido.
          </div>
          <div *ngIf="username?.errors?.['pattern']" style="color: rgb(255, 101, 0);">
            Ingrese un correo válido.
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12 p-3">
        <label for="password" class="form-label">Ingrese su contraseña</label>
        <input class="controls form-control" formControlName="password" type="password" name="password" id="password">
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert">

          <div *ngIf="password?.errors?.['required']" style="color: rgb(255, 101, 0);">
            Ingrese una contraseña válida.
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12 p-3">

        <p><a href="#">Olvide mi contraseña</a></p>
        <button type="button" (click)="login()" class="btn btn-success">Ingresar</button>
        <p><a routerLink="/register">¿No tienes Cuenta?</a></p>
      </div>
    </div>
    
  </form>
</section>