
    <section class="form-register">
      <h4>Formulario Registro</h4>
      
      <div class="row mt-2">

        <!-- Name -->
        <div class="col-m-3 col-lg-6 p-3">
          <label for="nombres" class="form-label">Ingrese su nombre</label>
          <input class="controls form-control" type="text" name="nombres" id="nombres" placeholder="Nombre...">
      </div>
      
      <!-- Surname -->
      <div class="col-m-3 col-lg-6 p-3">
        <label for="apellidos" class="form-label">Ingrese su apellido</label>
        <input class="controls form-control" type="text" name="apellidos" id="apellidos" placeholder="Apellido...">
      </div>
      
      <!-- email -->
      
      <div class="col-m-3 col-lg-6 p-3">
        <label for="correo" class="form-label">Ingrese su correo electrónico</label>
        <input class="controls form-control" type="email" name="correo" id="correo" placeholder="mail@...">
      </div>
      
      <!-- Password -->
      <div class="col-m-3 col-lg-6 p-3">
        <label for="password" class="form-label">Ingrese su contraseña</label>
        <input class="controls form-control" type="password" name="password" id="password" placeholder="Contraseña...">
      </div>
      
      <!-- Confirm password -->
      <div class="col-m-3 col-lg-6 p-3">
        <label for="confirmPassword" class="form-label">Vuelva a ingresar su contraseña</label>
        <input class="controls form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme su contraseña">
      </div>
      
      <!-- Terms of service -->

      <div class="col-m-12 col-lg-12 p-3 py-2">

        
        <div class="check-box">
        <input type="checkbox">
        <p>Acepto los <a href="#">Terminos y Condiciones</a></p></div>
        
        <!-- Submit -->
        <input class="botons btn btn-success" type="submit" value="Registrarse">
        
        <!-- Route to login -->
        <p><a routerLink="/login">¿Ya tienes cuenta?</a></p>
      </div>
    </div>
      </section>