
    <section class="form-register">
      <h4>Formulario Registro</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
      <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
      <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
      <div class="check-box">
        <input type="checkbox">
        <p>Acepto los <a href="#">Terminos y Condiciones</a></p></div>
      <input class="botons" type="submit" value="Registrarse">
      <p><a routerLink="/login">¿Ya tienes cuenta?</a></p>
    </section>