<section class="form-register">
  <h4>Formulario Registro</h4>
  <form [formGroup]="form">



    <div class="row mt-2">

      <!-- Name -->
      <div class="col-sm-12 col-md-12 col-lg-5 p-3">
        <label for="nombre" class="form-label">Ingrese su nombre</label>
        <input class="controls form-control" type="text" name="nombre" id="nombre"  formControlName="nombre">
      </div>

      <!-- Surname -->
      <div class="col-sm-12 col-md-12 col-lg-5 p-3">
        <label for="apellido" class="form-label">Ingrese su apellido</label>
        <input class="controls form-control" type="text" name="apellido" id="apellido"  formControlName="apellido">
      </div>

      <!-- email -->

      <div class="col-sm-12 col-md-12 col-lg-5 p-3">
        <label for="correo" class="form-label">Ingrese su correo electrónico</label>
        <input class="controls form-control" type="email" name="correo" id="correo"  formControlName="correo">
      </div>

      <!-- Dni -->

      <div class="col-sm-12 col-md-12 col-lg-5 p-3">
        <label for="dni" class="form-label">Ingrese su DNI</label>
        <input class="controls form-control" type="number" name="dni" id="dni"  formControlName="dni">
      </div>

      <!-- Password -->
      <div class="col-sm-12 col-md-12 col-lg-5 p-3">
        <label for="password" class="form-label">Ingrese su contraseña</label>
        <input class="controls form-control" type="password" name="password" id="password"  formControlName="password">
      </div>

      <!-- Confirm password -->
      <div class="col-sm-12 col-md-12 col-lg-5 p-3">
        <label for="confirmPassword" class="form-label">Vuelva a ingresar su contraseña</label>
        <input class="controls form-control" type="password" name="confirmPassword" id="confirmPassword"  formControlName="password">
      </div>



      <!-- Date birth -->
      <div class="col-sm-12 col-md-12 col-lg-5 p-3">
        <label for="fechaNac" class="form-label">Ingrese su fecha de nacimiento</label>
        <input id="fechaNac" class="controls form-control" type="date" name="fechaNac"  formControlName="fechaNac" />
      </div>


      <!-- Terms of service -->

      <div class="col-md-12 col-lg-12 p-3 py-2">


        <!-- <div class="check-box">
        <input type="checkbox">
        <p>Acepto los <a href="#">Terminos y Condiciones</a></p>
      </div> -->

        <!-- Submit -->
        <button class="botons btn btn-success" type="button" (click)="onUserCreated()">Registrarse</button>

        <!-- Route to login -->
        <p><a routerLink="/login">¿Ya tienes cuenta?</a></p>
      </div>
    </div>
  </form>
</section>