<section class="bg-light" id="services">
  <section class="p-5 page section " id="team">
    <div class="containter mb-5">
      <div class="tex center">
        <h2 class="section-heading text-uppercase">Nuestro equipo</h2>
      </div>
      <div class="row">
        <div *ngFor="let item of team" class="col-md-4">
          <img>
            <img class="rounded-circle img-fluid" [src]="item.imagen" alt="..." />
            <h4>{{item.name}}</h4>
            <p class="text muted">{{item.perfil}}</p>
            <a class="btn btn-dark btn-social mx-2" href={{item.linkedin}}> LinkedIn<i class="bi bi-linkedin"></i></a>
            <a class="btn btn-dark" href={{item.github}}>GitHub</a>

          </div>
        </div>
      </div>
  </section>
</section>
