<section class="form-register">
    <div class="row m-4">
        <div class="col-6  ">
            <div class="primerDiv">
          <p>Saldo disponible en mi cuenta: $10.000</p>
          <div class="  d-flex justify-content-around">
          <button type="button" class="btn btn-success" routerLink="">Comprar cryptos</button>
          <button type="button" class="btn btn-success" routerLink="operations/drawout">Retirar dinero</button>
          <button type="button" class="btn btn-success" routerLink="operations/deposit">Ingresar dinero</button>
        </div>
    </div>
    <div class="segundodiv">
        <p>cotizaciones</p>
    </div>
        </div>
        <div class="col-6">
          Ultimos movimientos
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@big</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>
